@import '~antd/dist/antd.css';
ul,li,a,p,h1,h2,h3,h4,h5,h6,section,div,dl,dt,dd{
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
	 -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #535353;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	background: #EDEDED;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
.headerOut{
	background: rgba(0,0,0,0.7);
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.header{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.nav{
	width:50%;
	margin-right: 0 15%;
	display: flex;
	justify-content: space-between;
}
.nav li{
	width: 100px;
	text-align: center;
	height: 70px;
	line-height: 70px;
}
.nav li a{
	width:70px;
	color: #bbb;
	font-size: 14px;
	padding-bottom: 10px;	
}
.nav li:hover a{
	color: #fff;
}
.active{
	border-bottom: 2px solid #fff;
}
.heightfp{
	height: 100%;
}
.clearfloat::after {content: "";display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.clearfloat {zoom: 1;}