ul,li,a,p,h1,h2,h3,h4,h5,h6,section,div{
	margin: 0;
	padding: 0;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
.headerOut{
	background: rgba(0,0,0,0.7);
	position:fixed;
	top: 0;
	width: 100%;
}
.header{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.nav{
	width:50%;
	margin-right: 0 15%;
	display: flex;
	justify-content: space-between;
}
.nav li{
	width: 100px;
	text-align: center;
	height: 70px;
	line-height: 70px;
}
.nav li a{
	width:70px;
	color: #bbb;
	font-size: 14px;
	padding-bottom: 10px;	
}
.nav li:hover a{
	color: #fff;
}
.active{
	border-bottom: 2px solid #fff;
}
